/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
  	width: 17%;
  	min-width: 80px;
  	z-index: 10;
	transition: transform 0.4s;

}


#myModal.reveal-modal.xlarge {
	
	margin-left: -50%;
	width: 100%;
	margin-top: -6%;
	padding-top: 2%;
	background-color: #FFFFFF;
}

.About-Me {

    cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;



}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
  background-color: transparent;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  perspective: 1400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.gwd-div-wh03 {
  position: absolute;
  font-family: 'Times New Roman';
  text-align: left;
  color: rgb(0, 0, 0);
  border-image-source: none;
  border-color: rgb(225, 181, 127);
  width: 399.7967339652px;
  height: 86.6513829133px;
  background-image: none;
  background-color: rgb(255, 255, 255);
  -webkit-transform: matrix3d(0.9999762516, 0.0068917538, 0, 0, -0.0068917538, 0.9999762516, 0, 0, 0, 0, 1, 0, -32.2222222222, -2.2222222222, 0, 1);
  -moz-transform: matrix3d(0.9999762516, 0.0068917538, 0, 0, -0.0068917538, 0.9999762516, 0, 0, 0, 0, 1, 0, -32.2222222222, -2.2222222222, 0, 1);
  transform: matrix3d(0.9999762516, 0.0068917538, 0, 0, -0.0068917538, 0.9999762516, 0, 0, 0, 0, 1, 0, -32.2222222222, -2.2222222222, 0, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 541.0322385425px;
  top: 309.90932703019996px;
}

.gwd-span-42t9 {
  color: rgb(225, 181, 127);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.gwd-img-l1wi {
  position: absolute;
  height: 37.1053928529px;
  width: 37.2010239208px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 541.8640192797px;
  top: 535.4755800838px;
}

.gwd-img-b7mm {
  position: absolute;
  width: 82.6236463901px;
  height: 82.5280153221px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 541.8640192798px;
  top: 575.1675458478px;
}

.gwd-span-6afp {
  font-family: 'Courier New';
  font-size: 62px;
  color: rgb(225, 181, 127);
}

.gwd-div-gfp6 {
  position: absolute;
  font-family: 'Times New Roman';
  text-align: left;
  color: rgb(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  width: 399.7967339652px;
  height: 41.1331293761px;
  left: 541.0322385425001px;
  top: 459.2162238981001px;
}

.gwd-div-srqh {
  text-align: center;
}

.gwd-span-vc86 {
  color: rgb(225, 181, 127);
  font-family: Garamond;
  font-size: 46px;
}

.gwd-img-pvfk {
  position: absolute;
  width: 123.7567757662px;
  height: 123.4950191964px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 636.4789503831px;
  top: 534.6437993474px;
}

.gwd-img-jzv8 {
  position: absolute;
  width: 123.4950191964px;
  height: 123.4950191964px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 772.2642176343px;
  top: 534.6437993474px;
}

.gwd-img-7bx9 {
  position: absolute;
  width: 37.1053928529px;
  height: 37.2010239208px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 903.6329572018px;
  top: 534.1437993474px;
}

.gwd-img-5oee {
  position: absolute;
  height: 37.1053928529px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 37.1053928529px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 586.7687381642px;
  top: 534.6437993474px;
}

.gwd-img-8he6 {
  position: absolute;
  width: 37.1053928529px;
  height: 37.2010239208px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 904.1329572018px;
  top: 578.8849567556px;
}

.gwd-img-2ol5 {
  position: absolute;
  width: 37.1053928529px;
  height: 37.1053928529px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 904.1329572018px;
  top: 621.0722647327px;
}

.gwd-img-csqg {
  position: absolute;
  width: 412.1417001049px;
  height: 277.9240078635px;
  -webkit-transform: translate3d(0px, 1.11px, 0px);
  -moz-transform: translate3d(0px, 1.11px, 0px);
  transform: translate3d(0px, 1.11px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 1px;
  top: 0.008615081799973723px;
}

.gwd-img-48bs {
  position: absolute;
  width: 410.2032815083px;
  height: 410.1076504404px;
  top: 280.1708683562px;
  left: 0px;
  -webkit-transform: translate3d(1.11px, -2.22px, 0px);
  -moz-transform: translate3d(1.11px, -2.22px, 0px);
  transform: translate3d(1.11px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.gwd-img-nzek {
  position: absolute;
  width: 399.7967339652px;
  height: 164.8899051423px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 541.3640192798px;
  top: 112.98927893299998px;
}

.gwd-img-6bnt {
  position: absolute;
  width: 412.0460690369px;
  height: 366.7190776356px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 1041.5817859269px;
  top: -0.3850083587000199px;
}

.gwd-img-wo7v {
  position: absolute;
  -webkit-transform-origin: 115.5px 115.5px 0px;
  -moz-transform-origin: 115.5px 115.5px 0px;
  transform-origin: 115.5px 115.5px 0px;
  width: 190.3612311859px;
  height: 190.3612311859px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 1148.3568953474px;
  top: 55.8607591599px;
}

.gwd-img-ocqg {
  position: absolute;
  width: 412.0460690369px;
  height: 318.1457434754px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 1041.5817859269px;
  top: 365.68942289970005px;
}

.gwd-div-n0ef {
  width: 398.0904840729px;
  height: 42.1099845419px;
  -webkit-transform-origin: 199px 20.5px 0px;
  -moz-transform-origin: 199px 20.5px 0px;
  transform-origin: 199px 20.5px 0px;
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 542.1768341045px;
  top: 409.6977318919px;
}

.gwd-div-4jx6 {
  height: 52px;
  width: 399.78125px;
  text-align: right;
}

.gwd-span-hzib {
  width: auto;
  font-size: 50px;
}

.gwd-div-i7hq {
  -webkit-transform: translate3d(-32.22px, -2.22px, 0px);
  -moz-transform: translate3d(-32.22px, -2.22px, 0px);
  transform: translate3d(-32.22px, -2.22px, 0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 541.0322385425001px;
  top: 459.2162238981001px;
}

</style>
